<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
    <p>Olá visitante!</p>
    <br>
    <br>
    <a href="http://127.0.0.1:8000/login"><button style="background: #069cc2; border-radius: 6px; padding: 15px; cursor: pointer; color: #fff; border: none; font-size: 16px;">Login</button></a>
    <br>
    <br>
    <a href="http://127.0.0.1:8000/cadastro"><button style="background: #069cc2; border-radius: 6px; padding: 15px; cursor: pointer; color: #fff; border: none; font-size: 16px;">Cadastro</button></a>
</body>
</html>