<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Usuários</title>
     {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>CPF</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    {% for usuario in usuarios %}
    <tr>
        <td>{{ usuario.cpf }}</td>
        <td>{{ usuario.nome }}</td>
        <td>{{ usuario.eemail }}</td>
        <td>
            <a href="/edit/{{ usuario.usuario_id }}"><span class="glyphicon glyphicon-pencil" >Editar</span></a>
            <a href="/delete/{{ usuario.usuario_id }}">Excluir</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<br>
<center><a href="/usuario" class="btn btn-primary">Adicionar novo usuário</a></center>
</body>
</html>